.bottom-section_nav {
	&_heading {
		padding-bottom: 2.5rem;
	}

	&_NavItems {
		display: flex;
		flex-direction: column;
		padding: 0;

		&-NavItem {
			max-width: 9.9rem;
			padding-bottom: 1.9rem;
			text-align: left;
			word-wrap: break-word;

			* {
				font-size: 0.9rem;
			}

			&-NavLink {
				width: fit-content;
				padding: 0;
			}

			&.socialButtons {
				a {
					padding-right: 0.8rem;
				}
			}

			&--desc {
				max-width: 18rem;
				font-size: 0.9rem;
				padding-bottom: 1.9rem;
			}
		}
	}

	@media (max-width: 768px) {
		&_heading {
			padding-bottom: 1.5rem;
		}

		&_NavItems {
			padding: 0;

			&:first-child {
				display: none;
			}

			&-NavItem {
				max-width: 9.9rem;
				padding-bottom: 1rem;

				* {
					font-size: 0.8rem;
				}

				&--desc {
					max-width: 18rem;
					font-size: 0.9rem;
					padding-bottom: 1.9rem;
				}

				.email {
					display: inline-block;
					width: 90%;
					// border: solid red;
					font-size: 0.9rem;
				}
			}
		}
	}
}
