.footer {
	width: 100%;
	padding: 0 5rem;
	background-color: #e5edf6;

	@media (max-width: 768px) {
		padding: 3.1rem 0;
	}

	.top-section {
		padding: 4rem 0;
		border-bottom: solid 1px #c5dbf4;
		text-align: center;

		* {
			width: 30%;
			margin: auto;
		}

		&_heading {
			margin-bottom: 0.8rem;
			font-weight: 500;
		}

		&_description {
			margin-bottom: 1.6rem;
		}

		&_subscribeForm {
			display: flex;
			flex-direction: column;
			width: 26.4rem;
			border-radius: 0;

			div {
				display: flex;
				align-items: center;
				width: 100%;

				input {
					width: 70%;
					padding: 0.96rem 1.4rem;
					border: none;
					background-color: rgba(128, 165, 209, 0.35);
					color: #2c6ab2;
					font-size: 0.9rem;
				}

				button {
					padding-top: 0.96rem;
					padding-bottom: 0.96rem;
					text-transform: capitalize;
				}
			}

			span {
				width: 100%;
				padding: 0.7rem 1.4rem 0;

				color: red;
				font-size: 0.8rem;
				text-align: left;
			}
		}

		.link-container {
			a {
				margin: 0 6px;
				color: blue !important;
				text-decoration: underline;
			}
		}

		@media (max-width: 768px) {
			* {
				width: 80%;
			}

			&_heading {
				font-size: 1.3rem;
				margin-bottom: 0.8rem;
			}

			&_description {
				margin-bottom: 2rem;
			}

			&_subscribeForm {
				width: 85%;

				div {
					width: 100%;

					input {
						width: 70%;
						padding: 0.6rem 1rem !important;
						font-size: 0.8rem;
					}

					button {
						width: 30%;
						border-radius: 0;
						padding: 0.59rem 1rem !important;
					}
				}
			}
		}
	}
}
